In [4]:
#Printing Words :

print("Hello Pranali")

Hello Pranali

In [6]:
name= "Pranali"
age= 20
print(name)
print(age)

Pranali
20

In [8]:
print ("Pranali is Genuise.")

Pranali is Genuise.

In [10]:
#Using input :

name=input("What is your name?")
print("Hello" + name)

What is your name?  Pranali
Hello  Pranali

In [2]:
old_age=input("Enter your age:")
new_age=int(old_age) + 2
print(new_age)

Enter your age:20
22

In [5]:
#Using float :

number = 20
print(float((20)))

20.0

In [8]:
## Printing sums of 2 numers :
# (1) Concatenation :
    
first = input("enter the first number :")
second = input("enter the second number :")
sum= first + second
print(sum)

enter the first number :5
enter the second number :7
57

In [11]:
# (2) summutions :
# use of int , str :

first= input("Enter first number : ")
second=input("Enter second number :")
sum=int(first) + int(second)
print("The sum is : " + str(sum))

Enter first number : 20
Enter second number :22
The sum is : 42

In [15]:
#Use of string Methods :

name="Pranali Patil"
print(name.upper())
print(name.lower())
print(name)

PRANALI PATIL
pranali patil
Pranali Patil

In [16]:
name = "Pranali Patil 28.11"
print(name.find('a'))

2

In [18]:
name = "Pranali Patil"
print(name.find('b'))

# here does not exist here hence -1

-1

In [25]:
name = "Saniya Patil"
print(name.replace("Saniya Patil","Lady Don"))
print(name)
print(name.replace("Patil","Don"))
print("Saniya" in name)
print("B" in name)

Lady Don
Saniya Patil
Saniya Don
True
False

In [27]:
## Arithmetic Operations :

print(5+7)
print(9/4)
print(10-2)
print(7//5)

12
2.25
8
1

In [30]:
# remainder operator :

print(10%3)
print(1000 % 55)

1
10

In [31]:
# Power operator :

print(4**2)

16

## Shortcuts :

p=5
p= p+5
then we can write as p +=5
similarly,           p -=5 and so on

In [36]:
# Operator Precedence (Who will calculate first i.e + or -) : 

result = 2+3*5
print (result)

17

In [37]:
# comparion operator : 

print (3>2)

True

In [39]:
print (11<5)

False

In [40]:
print(3==4)

False

In [41]:
print(3==3)

True

for not equql to -
print(2!=6)

In [43]:
print (4!=5)

True

In [46]:
# Boolean/ Logic :

print(5>4 and 6>9)

False

In [47]:
print(not 3>2)

False

In [48]:
## If-else :

age = 20
if age>=18:
    print("You are adult.")
    print ("You can vote.")
 
print ("Thank You")

You are adult.
You can vote.
Thank You

In [49]:
age = 10
if age>=18:
    print("You are adult.")
    print ("You can vote.")
 
print ("Thank You!")

Thank You!

In [1]:
age = 15
if age>=18:
    print("You are adult.")
    print ("You can vote.")
elif age<18 and age>3:
    print("you are Bachha..Go to home!")
print ("Thank You")

you are Bachha..Go to home!
Thank You

In [2]:
age = 15
if age>=18:
    print("You are adult.")
    print ("You can vote.")
elif age<18 and age>3:
    print("you are Bachha..Go to home!")
else:
    print("You are a child")

you are Bachha..Go to home!

In [3]:
age = 2
if age>=18:
    print("You are adult.")
    print ("You can vote.")
elif age<18 and age>3:
    print("you are Bachha..Go to home!")
else:
    print("You are a child")

You are a child

In [8]:
## Building a calculator :

first=input("enter first number :")
operator=input("choose operator (+,-,*,/,%) :")
second=input("enter second number :")

first =int(first)
second=int(second)

if operator == "+":
    print (first + second)
elif operator == "-":
    print (first - second)
elif operator == "/":
    print (first / second)
elif operator == "*":
    print (first * second)
elif operator == "%":
    print (first % second)
else:
    print("Invalid Operation")

enter first number :10
choose operator (+,-,*,/,%) :+
enter second number :10
20

In [10]:
# range:


no=range(5)
print(no)

range(0, 5)

In [12]:
## Loop :

#(1) while loop :

i=1
while i<= 15:
    print(i)
    i=i+1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15

In [3]:
i=1
while i<= 10:
    print(i*"*")
    i=i+1

*
**
***
****
*****
******
*******
********
*********
**********

In [4]:
i=1
while i<= 10:
    print(i*"*")
    i=i+1
i=10
while i>= 0:
    print(i*"*")
    i=i-1

*
**
***
****
*****
******
*******
********
*********
**********
**********
*********
********
*******
******
*****
****
***
**
*

In [18]:
i=10
while i>= 0:
    print(i*"*")
    i=i-1

**********
*********
********
*******
******
*****
****
***
**
*

In [20]:
i=1
while i<= 10:
    print(i*"O")
    i=i+1

O
OO
OOO
OOOO
OOOOO
OOOOOO
OOOOOOO
OOOOOOOO
OOOOOOOOO
OOOOOOOOOO

In [22]:
i=10
while i>= 0:
    print(i*"O")
    i=i-1

OOOOOOOOOO
OOOOOOOOO
OOOOOOOO
OOOOOOO
OOOOOO
OOOOO
OOOO
OOO
OO
O

In [23]:
#(2) for Loops :


for i in range(5):
    print(i)

0
1
2
3
4

In [25]:
## List :


marks=[20,22,25]
print(marks)

[20, 22, 25]

In [27]:
marks=[20,22,25]
marks.append(50)
print(marks)

[20, 22, 25, 50]