## DATA PREPROCESSING AND FEATURE ENGINEERING IN MACHINE LEARNING

### Tasks:

##### 1. Data Exploration and Preprocessing:

• Load the dataset and conduct basic data exploration (summary statistics, missing values, data types).

• Handle missing values as per the best practices (imputation, removal, etc.).

• Apply scaling techniques to numerical features:

• Standard Scaling

• Min-Max Scaling

• Discuss the scenarios where each scaling technique is preferred and why.

#### 2.Encoding Techniques:


• Apply One-Hot Encoding to categorical variables with less than 5 categories.

• Use Label Encoding for categorical variables with more than 5 categories.

• Discuss the pros and cons of One-Hot Encoding and Label Encoding.

#### 3. Feature Engineering:


• Create at least 2 new features that could be beneficial for the model. Explain the rationale behind your choices.

• Apply a transformation (e.g., log transformation) to at least one skewed numerical feature and justify your choice.

#### 4. Feature Selection:


• Use the Isolation Forest algorithm to identify and remove outliers. Discuss how outliers can affect model performance.

• Apply the PPS (Predictive Power Score) to find and discuss the relationships between features. Compare its findings with the correlation matrix.

In [1]:
import pandas as pd
from sklearn.preprocessing import StandardScaler, MinMaxScaler


# Load the dataset
df= pd.read_csv('adult_with_headers.csv')
# Basic data exploration
print(df.info())
print(df.describe())

# Handling missing values
df.dropna(inplace=True)  # Remove rows with missing values

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education_num   32561 non-null  int64
 5   marital_status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital_gain    32561 non-null  int64
 11  capital_loss    32561 non-null  int64
 12  hours_per_week  32561 non-null  int64
 13  native_country  32561 non-null  object
 14  income          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB
None
                age        fnlwgt  education_num  capital_gain  capital_loss  \
count  32561.000000  3.256100e+04   32561.000000  32561.000000  32561.000000
mean      38.581647  1.897784e+05      10.080679   1077.648844     87.303830
std       13.640433  1.055500e+05       2.572720   7385.292085    402.960219
min       17.000000  1.228500e+04       1.000000      0.000000      0.000000
25%       28.000000  1.178270e+05       9.000000      0.000000      0.000000
50%       37.000000  1.783560e+05      10.000000      0.000000      0.000000
75%       48.000000  2.370510e+05      12.000000      0.000000      0.000000
max       90.000000  1.484705e+06      16.000000  99999.000000   4356.000000

       hours_per_week
count    32561.000000
mean        40.437456
std         12.347429
min          1.000000
25%         40.000000
50%         40.000000
75%         45.000000
max         99.000000

In [2]:
# Encoding categorical variables
df = pd.get_dummies(df, columns=['workclass', 'education', 'marital_status', 'occupation', 'relationship', 'race', 'sex', 'native_country', 'income'], drop_first=True)

# Scaling numerical features
scaler_standard = StandardScaler()
scaler_minmax = MinMaxScaler()

numerical_features = ['age', 'fnlwgt', 'education_num', 'capital_gain', 'capital_loss', 'hours_per_week']
df_scaled_standard = pd.DataFrame(scaler_standard.fit_transform(df[numerical_features]), columns=numerical_features)
df_scaled_minmax = pd.DataFrame(scaler_minmax.fit_transform(df[numerical_features]), columns=numerical_features)

# Combine scaled numerical features with encoded categorical features
df_final_standard = pd.concat([df_scaled_standard, df.drop(numerical_features, axis=1)], axis=1)
df_final_minmax = pd.concat([df_scaled_minmax, df.drop(numerical_features, axis=1)], axis=1)

###### Discussion on Scaling Techniques

Standard Scaling (Z-score normalization): Preferred when the distribution of the numerical feature is normal or approximately normal. It centers the data around 0 with a standard deviation of 1, which is useful for algorithms that assume normally distributed features or require features to be on a similar scale.


Min-Max Scaling (Normalization): Preferred when the distribution of the numerical feature is not normal and when the algorithm does not assume a normal distribution. It scales the data to a fixed range (usually 0 to 1), preserving the shape of the original distribution and making it suitable for algorithms that require features to be within a specific range.

In [3]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder, LabelEncoder

# Load the dataset
df = pd.read_csv('adult_with_headers.csv')

# Identify categorical columns
categorical_cols = df.select_dtypes(include=['object']).columns

In [4]:
# Apply One-Hot Encoding to categorical variables with less than 5 categories
for col in categorical_cols:
    if len(df[col].unique()) < 5:
        df = pd.concat([df, pd.get_dummies(df[col], prefix=col)], axis=1)
        df.drop(col, axis=1, inplace=True)

In [6]:
# Print the first few rows of the modified dataframe
print(df.head())

   age  workclass  fnlwgt  education  education_num  marital_status  \
0   39          7   77516          9             13               4
1   50          6   83311          9             13               2
2   38          4  215646         11              9               0
3   53          4  234721          1              7               2
4   28          4  338409          9             13               2

   occupation  relationship  race  capital_gain  capital_loss  hours_per_week  \
0           1             1     4          2174             0              40
1           4             0     4             0             0              13
2           6             1     4             0             0              40
3           6             0     2             0             0              40
4          10             5     2             0             0              40

   native_country  sex_ Female  sex_ Male  income_ <=50K  income_ >50K
0   United-States            0          1              1             0
1   United-States            0          1              1             0
2   United-States            0          1              1             0
3   United-States            0          1              1             0
4            Cuba            1          0              1             0

Discussion on Encoding Techniques

One-Hot Encoding:


Pros: It does not assume an ordinal relationship between categories, which can be beneficial for algorithms that should not assume such a relationship. It avoids introducing fake ordering or relationship between categories.
Cons: It can lead to a large increase in the dimensionality of the dataset, especially if there are many unique categories in a variable. This can lead to the curse of dimensionality and increased computational complexity.


Label Encoding:


Pros: It reduces the dimensionality of the dataset by encoding categorical variables as integers. It can be useful for algorithms that require ordinal relationships between categories.
Cons: It may introduce an ordinal relationship between categories where none exists, which can be problematic for algorithms that should not assume such a relationship. It can also lead to issues if the encoded integers are misinterpreted as continuous values.

In [7]:
import pandas as pd

# Load the dataset
df= pd.read_csv('adult_with_headers.csv')

# Display the first few rows of the dataset
df.head()

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [12]:

# Convert 'income' column to numerical format
df['income'] = pd.to_numeric(df['income'], errors='coerce')

# New Feature 2: Capital Gain to Income Ratio
df['capital_gain_income_ratio'] = df['capital_gain'] / df['income']

# Display the updated dataset with new features
df.head()

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income,work_hours_per_week,capital_gain_income_ratio
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,39.031587,United-States,NaN,39.031587,NaN
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,44.421881,United-States,NaN,44.421881,NaN
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40.267096,United-States,NaN,40.267096,NaN
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40.267096,United-States,NaN,40.267096,NaN
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40.267096,Cuba,NaN,40.267096,NaN

In [16]:
# Install ppscore library
!pip install ppscore

Requirement already satisfied: ppscore in c:\users\prana\anaconda3\lib\site-packages (1.3.0)
Requirement already satisfied: pandas<2.0.0,>=1.0.0 in c:\users\prana\anaconda3\lib\site-packages (from ppscore) (1.5.3)
Requirement already satisfied: scikit-learn<2.0.0,>=0.20.2 in c:\users\prana\anaconda3\lib\site-packages (from ppscore) (1.4.2)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\prana\anaconda3\lib\site-packages (from pandas<2.0.0,>=1.0.0->ppscore) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\prana\anaconda3\lib\site-packages (from pandas<2.0.0,>=1.0.0->ppscore) (2022.7)
Requirement already satisfied: numpy>=1.21.0 in c:\users\prana\anaconda3\lib\site-packages (from pandas<2.0.0,>=1.0.0->ppscore) (1.24.3)
Requirement already satisfied: scipy>=1.6.0 in c:\users\prana\anaconda3\lib\site-packages (from scikit-learn<2.0.0,>=0.20.2->ppscore) (1.10.1)
Requirement already satisfied: joblib>=1.2.0 in c:\users\prana\anaconda3\lib\site-packages (from scikit-learn<2.0.0,>=0.20.2->ppscore) (1.4.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\prana\anaconda3\lib\site-packages (from scikit-learn<2.0.0,>=0.20.2->ppscore) (2.2.0)
Requirement already satisfied: six>=1.5 in c:\users\prana\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas<2.0.0,>=1.0.0->ppscore) (1.16.0)

In [17]:
import ppscore as pps

# Calculate the PPS matrix
pps_matrix = pps.matrix(df)

# Display the PPS matrix
print(pps_matrix)

# Compare with the correlation matrix
correlation_matrix = df.corr()
print("\nCorrelation Matrix:")
print(correlation_matrix)

C:\Users\prana\anaconda3\Lib\site-packages\sklearn\model_selection\_split.py:737: UserWarning: The least populated class in y has only 2 members, which is less than n_splits=4.
  warnings.warn(
C:\Users\prana\anaconda3\Lib\site-packages\sklearn\model_selection\_split.py:737: UserWarning: The least populated class in y has only 2 members, which is less than n_splits=4.
  warnings.warn(
C:\Users\prana\anaconda3\Lib\site-packages\sklearn\model_selection\_split.py:737: UserWarning: The least populated class in y has only 2 members, which is less than n_splits=4.
  warnings.warn(
C:\Users\prana\anaconda3\Lib\site-packages\sklearn\model_selection\_split.py:737: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=4.
  warnings.warn(
C:\Users\prana\anaconda3\Lib\site-packages\sklearn\model_selection\_split.py:737: UserWarning: The least populated class in y has only 2 members, which is less than n_splits=4.
  warnings.warn(
C:\Users\prana\anaconda3\Lib\site-packages\sklearn\model_selection\_split.py:737: UserWarning: The least populated class in y has only 2 members, which is less than n_splits=4.
  warnings.warn(
C:\Users\prana\anaconda3\Lib\site-packages\sklearn\model_selection\_split.py:737: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=4.
  warnings.warn(
C:\Users\prana\anaconda3\Lib\site-packages\sklearn\model_selection\_split.py:737: UserWarning: The least populated class in y has only 2 members, which is less than n_splits=4.
  warnings.warn(
C:\Users\prana\anaconda3\Lib\site-packages\sklearn\model_selection\_split.py:737: UserWarning: The least populated class in y has only 2 members, which is less than n_splits=4.
  warnings.warn(
C:\Users\prana\anaconda3\Lib\site-packages\sklearn\model_selection\_split.py:737: UserWarning: The least populated class in y has only 2 members, which is less than n_splits=4.
  warnings.warn(
C:\Users\prana\anaconda3\Lib\site-packages\sklearn\model_selection\_split.py:737: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=4.
  warnings.warn(
C:\Users\prana\anaconda3\Lib\site-packages\sklearn\model_selection\_split.py:737: UserWarning: The least populated class in y has only 2 members, which is less than n_splits=4.
  warnings.warn(
C:\Users\prana\anaconda3\Lib\site-packages\sklearn\model_selection\_split.py:737: UserWarning: The least populated class in y has only 2 members, which is less than n_splits=4.
  warnings.warn(
C:\Users\prana\anaconda3\Lib\site-packages\sklearn\model_selection\_split.py:737: UserWarning: The least populated class in y has only 2 members, which is less than n_splits=4.
  warnings.warn(
C:\Users\prana\anaconda3\Lib\site-packages\sklearn\model_selection\_split.py:737: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=4.
  warnings.warn(
C:\Users\prana\anaconda3\Lib\site-packages\sklearn\model_selection\_split.py:737: UserWarning: The least populated class in y has only 2 members, which is less than n_splits=4.
  warnings.warn(
C:\Users\prana\anaconda3\Lib\site-packages\sklearn\model_selection\_split.py:737: UserWarning: The least populated class in y has only 2 members, which is less than n_splits=4.
  warnings.warn(
C:\Users\prana\anaconda3\Lib\site-packages\sklearn\model_selection\_split.py:737: UserWarning: The least populated class in y has only 2 members, which is less than n_splits=4.
  warnings.warn(
C:\Users\prana\anaconda3\Lib\site-packages\sklearn\model_selection\_split.py:737: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=4.
  warnings.warn(
C:\Users\prana\anaconda3\Lib\site-packages\sklearn\model_selection\_split.py:737: UserWarning: The least populated class in y has only 2 members, which is less than n_splits=4.
  warnings.warn(
C:\Users\prana\anaconda3\Lib\site-packages\sklearn\model_selection\_split.py:737: UserWarning: The least populated class in y has only 2 members, which is less than n_splits=4.
  warnings.warn(
C:\Users\prana\anaconda3\Lib\site-packages\sklearn\model_selection\_split.py:737: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=4.
  warnings.warn(
C:\Users\prana\anaconda3\Lib\site-packages\sklearn\model_selection\_split.py:737: UserWarning: The least populated class in y has only 2 members, which is less than n_splits=4.
  warnings.warn(
C:\Users\prana\anaconda3\Lib\site-packages\sklearn\model_selection\_split.py:737: UserWarning: The least populated class in y has only 2 members, which is less than n_splits=4.
  warnings.warn(
C:\Users\prana\anaconda3\Lib\site-packages\sklearn\model_selection\_split.py:737: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=4.
  warnings.warn(
C:\Users\prana\anaconda3\Lib\site-packages\sklearn\model_selection\_split.py:737: UserWarning: The least populated class in y has only 2 members, which is less than n_splits=4.
  warnings.warn(
C:\Users\prana\anaconda3\Lib\site-packages\sklearn\model_selection\_split.py:737: UserWarning: The least populated class in y has only 2 members, which is less than n_splits=4.
  warnings.warn(
C:\Users\prana\anaconda3\Lib\site-packages\sklearn\model_selection\_split.py:737: UserWarning: The least populated class in y has only 2 members, which is less than n_splits=4.
  warnings.warn(
C:\Users\prana\anaconda3\Lib\site-packages\sklearn\model_selection\_split.py:737: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=4.
  warnings.warn(
C:\Users\prana\anaconda3\Lib\site-packages\sklearn\model_selection\_split.py:737: UserWarning: The least populated class in y has only 2 members, which is less than n_splits=4.
  warnings.warn(
C:\Users\prana\anaconda3\Lib\site-packages\sklearn\model_selection\_split.py:737: UserWarning: The least populated class in y has only 2 members, which is less than n_splits=4.
  warnings.warn(
C:\Users\prana\anaconda3\Lib\site-packages\sklearn\model_selection\_split.py:737: UserWarning: The least populated class in y has only 2 members, which is less than n_splits=4.
  warnings.warn(
C:\Users\prana\anaconda3\Lib\site-packages\sklearn\model_selection\_split.py:737: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=4.
  warnings.warn(
C:\Users\prana\anaconda3\Lib\site-packages\sklearn\model_selection\_split.py:737: UserWarning: The least populated class in y has only 2 members, which is less than n_splits=4.
  warnings.warn(
C:\Users\prana\anaconda3\Lib\site-packages\sklearn\model_selection\_split.py:737: UserWarning: The least populated class in y has only 2 members, which is less than n_splits=4.
  warnings.warn(
C:\Users\prana\anaconda3\Lib\site-packages\sklearn\model_selection\_split.py:737: UserWarning: The least populated class in y has only 2 members, which is less than n_splits=4.
  warnings.warn(
C:\Users\prana\anaconda3\Lib\site-packages\sklearn\model_selection\_split.py:737: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=4.
  warnings.warn(
C:\Users\prana\anaconda3\Lib\site-packages\sklearn\model_selection\_split.py:737: UserWarning: The least populated class in y has only 2 members, which is less than n_splits=4.
  warnings.warn(
C:\Users\prana\anaconda3\Lib\site-packages\sklearn\model_selection\_split.py:737: UserWarning: The least populated class in y has only 2 members, which is less than n_splits=4.
  warnings.warn(
C:\Users\prana\anaconda3\Lib\site-packages\sklearn\model_selection\_split.py:737: UserWarning: The least populated class in y has only 2 members, which is less than n_splits=4.
  warnings.warn(
C:\Users\prana\anaconda3\Lib\site-packages\sklearn\model_selection\_split.py:737: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=4.
  warnings.warn(
C:\Users\prana\anaconda3\Lib\site-packages\sklearn\model_selection\_split.py:737: UserWarning: The least populated class in y has only 2 members, which is less than n_splits=4.
  warnings.warn(
C:\Users\prana\anaconda3\Lib\site-packages\sklearn\model_selection\_split.py:737: UserWarning: The least populated class in y has only 2 members, which is less than n_splits=4.
  warnings.warn(
C:\Users\prana\anaconda3\Lib\site-packages\sklearn\model_selection\_split.py:737: UserWarning: The least populated class in y has only 2 members, which is less than n_splits=4.
  warnings.warn(

C:\Users\prana\anaconda3\Lib\site-packages\sklearn\model_selection\_split.py:737: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=4.
  warnings.warn(
C:\Users\prana\anaconda3\Lib\site-packages\sklearn\model_selection\_split.py:737: UserWarning: The least populated class in y has only 2 members, which is less than n_splits=4.
  warnings.warn(
C:\Users\prana\anaconda3\Lib\site-packages\sklearn\model_selection\_split.py:737: UserWarning: The least populated class in y has only 2 members, which is less than n_splits=4.
  warnings.warn(
C:\Users\prana\anaconda3\Lib\site-packages\sklearn\model_selection\_split.py:737: UserWarning: The least populated class in y has only 2 members, which is less than n_splits=4.
  warnings.warn(
C:\Users\prana\anaconda3\Lib\site-packages\sklearn\model_selection\_split.py:737: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=4.
  warnings.warn(
C:\Users\prana\anaconda3\Lib\site-packages\sklearn\model_selection\_split.py:737: UserWarning: The least populated class in y has only 2 members, which is less than n_splits=4.
  warnings.warn(
C:\Users\prana\anaconda3\Lib\site-packages\sklearn\model_selection\_split.py:737: UserWarning: The least populated class in y has only 2 members, which is less than n_splits=4.
  warnings.warn(
C:\Users\prana\anaconda3\Lib\site-packages\sklearn\model_selection\_split.py:737: UserWarning: The least populated class in y has only 2 members, which is less than n_splits=4.
  warnings.warn(
C:\Users\prana\anaconda3\Lib\site-packages\sklearn\model_selection\_split.py:737: UserWarning: The least populated class in y has only 2 members, which is less than n_splits=4.
  warnings.warn(
C:\Users\prana\anaconda3\Lib\site-packages\sklearn\model_selection\_split.py:737: UserWarning: The least populated class in y has only 2 members, which is less than n_splits=4.
  warnings.warn(
C:\Users\prana\anaconda3\Lib\site-packages\sklearn\model_selection\_split.py:737: UserWarning: The least populated class in y has only 2 members, which is less than n_splits=4.
  warnings.warn(

                             x                          y   ppscore  \
0                          age                        age  1.000000
1                          age                  workclass  0.011232
2                          age                     fnlwgt  0.000000
3                          age                  education  0.052315
4                          age              education_num  0.000000
..                         ...                        ...       ...
284  capital_gain_income_ratio             hours_per_week  0.000000
285  capital_gain_income_ratio             native_country  0.000000
286  capital_gain_income_ratio                     income  0.000000
287  capital_gain_income_ratio        work_hours_per_week  0.000000
288  capital_gain_income_ratio  capital_gain_income_ratio  1.000000

                                  case  is_valid_score               metric  \
0                       predict_itself            True                 None
1                       classification            True          weighted F1
2                           regression            True  mean absolute error
3                       classification            True          weighted F1
4                           regression            True  mean absolute error
..                                 ...             ...                  ...
284  empty_dataframe_after_dropping_na           False                 None
285  empty_dataframe_after_dropping_na           False                 None
286  empty_dataframe_after_dropping_na           False                 None
287  empty_dataframe_after_dropping_na           False                 None
288                     predict_itself            True                 None

     baseline_score   model_score                     model
0          0.000000      1.000000                      None
1          0.579088      0.583816  DecisionTreeClassifier()
2      75872.186200  77535.141544   DecisionTreeRegressor()
3          0.201200      0.242989  DecisionTreeClassifier()
4          1.853000      1.898306   DecisionTreeRegressor()
..              ...           ...                       ...
284        0.000000      0.000000                      None
285        0.000000      0.000000                      None
286        0.000000      0.000000                      None
287        0.000000      0.000000                      None
288        0.000000      1.000000                      None

[289 rows x 9 columns]

Correlation Matrix:
                                age    fnlwgt  education_num  capital_gain  \
age                        1.000000 -0.076646       0.036527      0.077674
fnlwgt                    -0.076646  1.000000      -0.043195      0.000432
education_num              0.036527 -0.043195       1.000000      0.122630
capital_gain               0.077674  0.000432       0.122630      1.000000
capital_loss               0.057775 -0.010252       0.079923     -0.031615
hours_per_week             0.087998 -0.026933       0.105221      0.077036
income                          NaN       NaN            NaN           NaN
work_hours_per_week        0.087998 -0.026933       0.105221      0.077036
capital_gain_income_ratio       NaN       NaN            NaN           NaN

                           capital_loss  hours_per_week  income  \
age                            0.057775        0.087998     NaN
fnlwgt                        -0.010252       -0.026933     NaN
education_num                  0.079923        0.105221     NaN
capital_gain                  -0.031615        0.077036     NaN
capital_loss                   1.000000        0.039147     NaN
hours_per_week                 0.039147        1.000000     NaN
income                              NaN             NaN     NaN
work_hours_per_week            0.039147        1.000000     NaN
capital_gain_income_ratio           NaN             NaN     NaN

                           work_hours_per_week  capital_gain_income_ratio
age                                   0.087998                        NaN
fnlwgt                               -0.026933                        NaN
education_num                         0.105221                        NaN
capital_gain                          0.077036                        NaN
capital_loss                          0.039147                        NaN
hours_per_week                        1.000000                        NaN
income                                     NaN                        NaN
work_hours_per_week                   1.000000                        NaN
capital_gain_income_ratio                  NaN                        NaN

C:\Users\prana\anaconda3\Lib\site-packages\sklearn\model_selection\_split.py:737: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=4.
  warnings.warn(
C:\Users\prana\AppData\Local\Temp\ipykernel_15340\1757190310.py:10: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  correlation_matrix = df.corr()